# Terraform
terraform/.terraform/
terraform/**/build/
terraform/terraform.tfvars
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
crash.log
crash.*.log

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
*.egg-info/

# macOS
.DS_Store

# JetBrains IDEs
.idea/
